@model Proiect.Models.Produs
@{
    ViewBag.Title = "Produse";
}
<h1 style="font-weight:bold;">@ViewBag.Title</h1>

<table class="table">
    <thead class="thead-dark">
        <tr style="font-size:25px;">
            <th scope="col">#</th>
            <th scope="col">
                @Html.Label("Denumire", "Denumire")
            </th>
            <th>Detalii</th>
        </tr>
    </thead>
    <tbody style="font-size:16px;">
        @foreach (var produs in ViewBag.Produs)
        {
            <tr>
                <td>@produs.ProdusId</td>
                <td>@produs.Denumire</td>
                <td>
                    @using (Html.BeginForm(actionName: "Details", controllerName: "Produs", method: FormMethod.Get,
     routeValues: new { id = produs.ProdusId }))
                    {
                        <button class="btn btn-light">Detalii</button>
                    }
                </td>
            </tr>


        }

        </tbody>
</table>




@if (User.IsInRole("Admin"))
{
    <p><a href="/Produs/New" style="text-decoration:none; font-size:15px;">Adauga Produs</a></p>
}


