@model List<Proiect.Models.Magazin>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Lista Magazine";
}


<h2>Magazine </h2>

<table>
    <tr>
        <th> Denumire Magazin</th>
    </tr>
    @foreach (var magazin in ViewBag.Magazin)
    {
        <tr>
            <td>@magazin.DenumireMagazin</td>
        </tr>
    }
</table>
<br />