@model List<Proiect.Models.Magazin>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "NewRecenzie";
}

<h2>Atribuie magazin</h2>
<br />
<br />
<h2>Magazine Disponibile</h2>

<table>
    <tr>
        <th>ID</th>
        <th> Denumire Magazin</th>
    </tr>
    @foreach (var magazin in ViewBag.Magazin)
    {
        <tr>
            <td>@magazin.MagazinId</td>
            <td>@magazin.DenumireMagazin</td>
        </tr>
    }
</table>
<br />
<br />
<form method="post" action="/Produs/Atribui">
    <p>Introdu Id Magazin</p>
    <input type="text" name="MagazinId" value="" />
    <p>Introdu nume magazin</p>
    <input type="text" name="DenumireMagazin" value="" />
    <input type="hidden" name="ProdusId" value="@ViewData["ProdusId"]" />
    <button type="submit">Atribuie produsul acestui magazin</button>

</form>


